*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.contenitore{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.contenitore::after{
  content: "";
  display: table;
  clear: both;
}

/* RIGA UTENTE SINISTRA */
.riga-utente-sinistra{
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  width: 30%;
  height: 70px;
  background-color: azure;
}
.riga-utente-sinistra img {
  padding: 5px;
  height: 100%;
  margin-left: 10px;
}
.riga-utente-sinistra i {
  margin-right: 15px;
  font-size: 25px;
  color: grey;
}

/* RIGA CONTATTO DESTRA */
.riga-contatto-destra{
  display: flex;
  float: left;
  width: 70%;
  height: 70px;
  background-color: azure;
  border-left: 1px solid lightgrey;
}
.riga-contatto-destra img {
  padding: 5px;
  height: 100%;
  margin-left: 10px;
}
.riga-contatto-destra .dati-accesso {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
}
.icone-contatto-destra{
  align-self: flex-end;
}
.icone-contatto-destra i {
  margin-right: 15px;
  font-size: 25px;
  color: grey;
}

.contatti{
  float: left;
  width: 30%;
  /* debug */
  height: 500px;
  background-color:lightgrey;
  overflow: auto;
}

.ricerca-contatti{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: darkgrey;
}

.ricerca-contatti input{
  width: 80%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.contatto{
  height: 70px;
  width: 100%;
  margin: 7px 0;
}

.contatto img {
height: 100%;
margin-left: 10px;
vertical-align: middle;
}


/* parte della chat */
.chat{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: left;
  width: 70%;
  /* debug */
  height: 500px;
  background-color: lightgrey;
}

.show-chat-utente{
  /* display: flex;
  flex-direction: column;
  align-items:flex-end; */
  width: 100%;
  height: 100%;
  background-color: wheat;
  overflow-x: auto;
}

.show-chat-utente span{
  width: auto;
  height: auto;
  padding: 15px;
  margin: 15px 10px;
  border-radius: 5px;
}

/* .template-contact-mex{
  float: left;
  width: 50%;
  height: 100%;
}

.template-my-mex{
  float: left;
  width: 50%;
  height: 100%;
} */


.contact-mex {
  background-color: white;
  align-self: flex-start;
}


/* parte dell'input */
.text-chat {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: orange;
}

#input-chat {
  width: 80%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
}
