*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.contenitore{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.contenitore::after{
  content: "";
  display: table;
  clear: both;
}


.riga-utente-sinistra{
  float: left;
  width: 30%;
  height: 70px;
  background-color: lightblue;
}
.riga-contatto-destra{
  float: left;
  width: 70%;
  height: 70px;
  background-color: darkgrey;
}
.contatti{
  float: left;
  width: 30%;
  /* debug */
  height: 500px;
  background-color: lightgrey;
  overflow: auto;
}
.chat{
  display: flex;
  align-items: flex-end;
  float: left;
  width: 70%;
  /* debug */
  height: 500px;
  background-color: purple;
}
.text-chat{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: orange;
}
#input-chat{
  width: 80%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
}
