*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.contenitore{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.contenitore::after{
  content: "";
  display: table;
  clear: both;
}


.riga-utente-sinistra{
  float: left;
  width: 30%;
  height: 70px;
  background-color: lightblue;
}
.riga-contatto-destra{
  float: left;
  width: 70%;
  height: 70px;
  background-color: darkgrey;
}

.contatti{
  float: left;
  width: 30%;
  /* debug */
  height: 500px;
  background-color:lightgrey;
  overflow: auto;
}
.ricerca-contatti{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: darkgrey;
}
.ricerca-contatti input{
  width: 80%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.contatto{
  height: 70px;
  width: 100%;
  margin: 7px 0;
}
.contatto img {
height: 100%;
margin-left: 10px;
vertical-align: middle;
}

.chat{
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  float: left;
  width: 70%;
  /* debug */
  height: 500px;
  background-color: lightgrey;
}
.show-chat-contatto{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  width: 100%;
  height: 100%;
  background-color: red;
}
.show-chat-utente{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  width: 100%;
  height: 100%;
  background-color: wheat;
  overflow-x: auto;
}
.show-chat-utente span{
  width: auto;
  height: auto;
  padding: 15px;
  margin: 15px 10px;
  border-radius: 5px;
}
#my-mex{
  background-color: lightgreen;
}
#contact-mex{
  background-color: white;
  align-self: flex-start;
}
.text-chat{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: orange;
}
#input-chat{
  width: 80%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
}
